<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Big Fat Quiz of Maja</title>
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet" ">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand:300,400,700" rel="stylesheet">
	</head>
	<div class="border">
	<body>
		<h1 class="h question">Big Fat Quiz of Maja</h1>
		<p class="p question">Are you in desperate need of a Maja? Answer these 14 questions and find out!</p>

		<h2 class="h t quiz">{{ question_number }}. {{ question }}</h2>

		<img src="https://media.giphy.com/media/q1irJx3knQtNu/giphy.gif">

			<div class="container">
				<div class="row">
					<div class="col-md-12 question">
						<a href='{% url "results_page" quiz_number %}' class="btn btn-primary btn-lg question one">{{ answer1 }}</a>
					</div>
					<div class="col-md-12 question">
						<a href='{% url "results_page" quiz_number %}' class="btn btn-primary btn-lg question two" >{{ answer2 }}</a>
					</div>
				</div>
			</div>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</div>
</html>